
<h2>Comunio Marktwerte</h2>
<%= high_chart_globals(@chart_globals) %>




<table style="width:100%">
  <tr>
    <td><%= high_chart("TWtotal", @tw_total) %></td>
    <td><%= high_chart("AW_total", @aw_total) %></td>
  </tr>
  <tr>
    <td><%= high_chart("MF_total", @mf_total) %></td>
    <td><%= high_chart("ST_total", @st_total) %></td>
  </tr>
</table>

  <%= high_chart("Marktwert_total", @marktwert_total) %>



